.show-data-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.show-data-modal .modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.show-data-modal .modal-content h2 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.show-data-modal .modal-content .data-table {
  width: 100%;
  border-collapse: collapse;
}

.show-data-modal .modal-content .data-table .info-key,
.show-data-modal .modal-content .data-table .info-value {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.show-data-modal .modal-content .data-table .info-key {
  font-weight: bold;
}

.show-data-modal .modal-content .data-table img {
  max-width: 100%;
  height: auto;
}
